name: "Luffy Build Linux"

on:
  workflow_dispatch:  # 启用手动触发

jobs:
  build:
    runs-on: luffy-linux
    steps:
      - uses: actions/checkout@v4
      - name: Generate table
        uses: parasoft/parasoft-coverage-action@1.0.0
        with:             
            report: '/home/devtest/reports/javatemplate/coverage.xml'
