name: "Luffy Build"

on:
  workflow_dispatch:  # 启用手动触发

jobs:
  build:
    runs-on: [self-hosted,Luffy-Windows]
     #[self-hosted,Luffy-Windows]
    steps:
      - uses: actions/checkout@v4
      - name: Generate table
        uses: parasoft/parasoft-coverage-action@1.0.0
        with:             
            report: 'D:\Sonarqube\parasoft-tools-reports\Jtest\2025.2.0\coverage\coverage.xml'
            #parasoftToolOrJavaRootPath: 'C:\Program Files\Java\jdk-21.0.56'
