name: "Luffy Build Linux"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: [self-hostedï¼ŒLinux-luffy]
    steps:
      - uses: actions/checkout@v4
      - name: Generate table
        uses: parasoft/parasoft-coverage-action@master
        with:             
            reportPath: '/home/devtest/reports/javatemplate/coverage.xml'
